doctype html
html(lang='es')
    include includes/head.pug
    body
        navbar
            ul
        li
            a(href='/')="Inicio"
        li
            a(href='/')="Quienes Somos"
        li
            a(href='/')="Contacto"  
        h1="Carga de productos:"
        div(id="form-container")
            form(method="post" action="/api/productos")
                fieldset
                    label="Nombre del producto"
                        input(type="text" name="nombre" size="45" placeholder="Ingresa el nombre" id="name" required)
                    label="Precio del producto"
                        input(type="text" name="precio" pattern="[0-9]+" size="45" placeholder="Ingresa el precio" id="price" required)
                    label="Imagen del producto"
                        input(type="text" name="img" size="45" placeholder="Ingresa el thumbnail" id="thumbnail" required)
                input(type="submit" value="Enviar")
                img(src="https://static.wikia.nocookie.net/monkeyisland/images/5/5c/StaninActionanimiert.gif" alt="Stan")
        a(href="/api/productos")
            button="Ver productos"
        include includes/footer.pug