doctype html
html(lang='es')
    include includes/head.pug
    body
    include includes/navbar.pug
    .productos-container
    div
        h1=titulo
        .card-container
            for prod in productos
                div(class="item-card move")
                    div(class="product-img")
                        img(src=prod.img, alt=prod.nombre)
                    div(class="product-info")
                        p=prod.nombre
                        p='PRECIO: $' + prod.precio
    a(href="/formulario")
        button(class="btn")="Cargar un producto"
    include includes/footer.pug
