doctype html
html(lang='es')
    include includes/head.pug
    body
    include includes/navbar.pug
    .agregado-container
        h1=titulo
        div(class="item-card")
            div(class="product-img")
                img(class='product-img', src=agregado.img, alt=agregado.nombre)
            div(class="product-info")
                p="NOMBRE:" + agregado.nombre
                p="PRECIO: $  " + agregado.precio

    a(href="/api/productos")
        button="Ver productos"
    include includes/footer.pug
