doctype html
html(lang='es')
    include includes/head.pug
    body
        navbar
            ul
        li
            a(href='/')="Inicio"
        li
            a(href='/')="Quienes Somos"
        li
            a(href='/')="Contacto"
        h1=titulo
        div
        for prod in productos
            div(class="card")
                p='NOMBRE:'
                p=prod.nombre
                p='PRECIO:'
                p="$" + prod.precio
                p='FOTO:'
                img(class='product-img', src=prod.img, alt=prod.nombre)
        a(href="/formulario")
            button="Cargar un producto"
        include includes/footer.pug
