{{> navbar}}
<br/>

<div class="agregado-container">
    <h1>{{mensaje}}</h1>
    <div class="item-card">
        <div class="product-img">
            <img src="{{agregado.img}}" alt="{{agregado.nombre}}">
        </div>
        <div class="product-info">
            {{agregado.nombre}} <br/>
            ${{agregado.precio}}<br/>
        </div>
    </div>
</div>

<a href="/api/productos">
    <button>Ver productos</button>
</a>