{{> navbar}}
<br/>

<h1>{{titulo}}</h1>
        <div class="card">
            ID: {{producto.id}}<br/>
            NOMBRE: {{producto.nombre}}<br/>
            PRECIO: ${{producto.precio}}<br/>
            <img src="{{producto.img}}" class="product-img"/>
        </div>

<br/>
{{> footer}}
<br/>