{{> navbar}}
<br/>

<h1>{{titulo}}</h1>
        <div class="card">
            {{producto.id}}<br/>
            {{producto.nombre}}<br/>
            {{producto.precio}}<br/>
            <img src="{{producto.img}}" class="product-img"/>
        </div>

<br/>
{{> footer}}
<br/>