<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/navbar'); %>
        <div class="agregado-container">
            <h1><%=titulo %></h1>
            <div class="item-card">
                <div class="product-img">
                    <img class="product-img" src="<%=producto.img %>"/>
                </div>
                <div class="product-info">
                    <p>Nombre: <%=producto.nombre%><p/>
                    <p>Precio: <%=producto.precio%><p/>
                </div>
            </div>
        </div>

        <a href="/api/productos">
            <button>Ver productos</button>
        </a>
        <%- include('../partials/footer'); %>
    </body>
</html>